.content {
    background-color: #F1ECE7;
}

.attendance__inner {
    margin: -250px auto 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-collapse: collapse;
    font-size: 16px;
}

.attendance-form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
}

.attendance__table {
    width: 100%;
    border-collapse: collapse;
}

.attendance__row {
    border: none;
}

.attendance__label {
    color: black;
    font-size: 20px;
}

.attendance__data{
    text-align: center;
}