input,
select{
    border: 1px solid #E3DED9;
    color: #8B7969;
}

.attendance__inner{
    margin: 32px auto 0;
    width: 84%;
}

.attendance-form{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    gap:24px;
}

.attendance__table{
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.attendance__row{
    border: 1px solid #E0DFDE;
}

.attendance__label{
    padding: 16px 8px;
}

.attendance__label:first-of-type{
    padding-left: 48px;
}

.attendance:last-of-type{
    padding-right: 48px;
}

.attendance__label{
    background-color: #8B7969;
    color: #FFF;
    text-align: left;
    font-weight: 400;
}
