.content{
    background-color: #F1ECE7;
}

.content__title{
    text-align: center;
    font-size: 24px;
}

.stamp-form__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stamp-form__form button{
    padding: 20px;
    width: calc(50% - 20px);
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FDFEFE;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .stamp-form__form{
        width: calc(50% - 10px);
    }
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height:400px;
    justify-content: center;
}

.item {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    width: 500px;
    background-color: #fff;
}

.content__inner-item {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-left: 170px;
}



